.app-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
  }
  
  .app-container > h1 {
    color: #fff;
    font-size: 100px;
    margin-top: -100px;
  }

  .app-btns {
    display: flex;
    flex-direction: row;
    margin-top: 32px;
  }

  .app-input{
    display: flex;
    flex-direction: row;
  }

  .app-results {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .fibonacci-list {
    width: 100%;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .fibonacci {
    margin: 5px;
  }